<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the app component!</h3>
      <hr>
    </div>
    <div class="col-xs-6">
      <app-servers></app-servers> <!-- verwijst naar de selector in server.component.ts in de server map-->
      <!-- <div> app-servers </div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
    <div class="col-xs-6">
      <app-testcomponent></app-testcomponent>
    </div>

    
  </div>
</div>




<!-- verwijst naar app.components.ts -->
<!-- <p> {{ name }} </p> -->

<!-- Directive = het verteld angular om te luisteren naar alles wat je invoerd in het invoer veld. Opslaan in de name propety. En geeft de input door als output in de <p> tags hieronder. -->
<!-- <input type="text" [(ngModel)]=name> -->