<!--The content below is only a placeholder and can be replaced.-->


  <h3>I'm in the app component!</h3>
  <hr>
  <app-server></app-server> <!-- verwijst naar de selector in server.component.ts in de server map-->
  
  
<!-- verwijst naar app.components.ts -->
<!-- <p> {{ name }} </p> -->

<!-- Directive = het verteld angular om te luisteren naar alles wat je invoerd in het invoer veld. Opslaan in de name propety. En geeft de input door als output in de <p> tags hieronder. -->
  <!-- <input type="text" [(ngModel)]=name> -->